/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Garamond", "Georgia", serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    background-color: #fdf8e4;
    color: #020101;
}

/* Container for content */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c4c3c27c;
    border: 10px solid #a59f93;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.199);
}

/* Title styling */
h1 {
    color: #4b3621;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Garamond", "Georgia", serif;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.651);
}

/* Button grid layout */
.button-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 20px;
}
/* Button grid for proverbs layout */
.button-grid-proverbs {
    display: grid ;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 20px;
}

/* Button styling */
.button {
    display: flex;
    align-items: center; 
    justify-content: left; 
    padding: 15px;
    background-color: #b1a385;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.774);
    font-family: "Garamond", "Georgia", serif;
    font-size: 1.5em;
    transition: background-color 0.3s, box-shadow 0.3s;
}


.button:hover {
    background-color: #6b5749;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Back link styling */
.back-link {
    display: block;
    text-align: center;
    color: #6a4b34;
    text-decoration: none;
    margin-top: 20px;
    font-size: 3em;
    font-family: "Garamond", "Georgia", serif;
}

.back-link:hover {
    text-decoration: underline;
}

/* Content box styling */
.content-box {
    background-color: #fdf8e4;
    padding: 30px;
    border: 2px solid #d4c3a3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.466);
    margin: 20px auto;
    box-sizing: border-box;
    font-family: "Centaur", serif;
    font-size: 1.5em;
}

/* Paragraph styling within content box */
.content-box p {
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.3;
}

/* Responsive layout */
@media (max-width: 768px) {
    h1 {
        font-size:  3em;
    }

    .button {
        padding: 12px;
        font-size: large;
    }

    .content-box {
        padding: 20px;

    }
}
